*, ::after, ::before{
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 10;
}
:root{
    --white: #fdfdfe;
    --lightPurple: #d8c2fe;
    --purple: #6a13fb;
    --lightPink: #f27dce;
    --neonPink: #fa099a;
    --pastelTurcuaz: #a8eaeb;
    --lightTurcuaz: #02fcf9;
    --turcuaz: #0bdcdb;
    --darkBlue: #1b1464;
    --black: #010132;
    }
html{
    height: 110vh;
    background: linear-gradient(to bottom, var(--black) 0%, var(--darkBlue) 50%, var(--purple) 100%);
    width: 100vw;
    overflow-y: hidden;
}
body{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, var(--black) 0%, var(--darkBlue) 50%, var(--purple) 100%);
    width: 100vw;
    min-height: 120vh;
    position: relative;
    z-index: 10;
    overflow-x: hidden;
}
#top-left{
    position: absolute;
    top: 1vh;
    left: 1vh;
}
#extropy-guy{
    width: 80px;
    height: 80px;
}
#colored-squares{
    width: 28vw;
    height: auto;
    position: absolute;
    left: calc(80px + 2vw);
}
#ABOUT-US{
    width: 20vw;
    height: auto;
    position: absolute;
    top: 2vh;
    left: calc(100px + 2vw);
}
#menu{
    position: absolute;
    width: 40px;
    height: auto;
    top: calc(80px + 2vh);
    left: 0;
    cursor: pointer;
    visibility: hidden;
}
#container{
    width: 70%;
    height: 95vh;
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
}
#text-container{
    width: 80%;
    place-self: center;
}
p{
    position: absolute;
    top: 3vh;
    left: 7vw;
    height: 10vh;
}
#departaments-container{
    width: 100%;
    height: 10vw;
    position: relative;
    top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.departament{
    position: relative;
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 8px 12px 4px black;
    z-index: 11;
}
#building{
    background-color: var(--purple);
}
#propaganda{
    background-color: var(--lightPink);
}
#programming{
    background-color: var(--lightTurcuaz);
}
.departament-img{
    width: 50%;
    position: relative;
    top: 1vh;
}
.departament-name{
    font-size: larger;
    color: var(--neonPink);
    position: relative;
    top: 2vw;
    left: 0vw;
}
#members{
    width: 110%;
    height: 32vh;
    position: relative;
    top: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 24vh;
}
.animation-card{
    animation-name: move-card;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-iteration-count: 1;
}
.frame-svg{
    height: 18vh;
    width: 18vh;
    z-index: 2;
}
.name-container{
    position: absolute;
    top: 14.5vh;
    width: 16vh;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.member-name{
    position: relative;
    left: 0.6vw;
    top: 3.2vh;
    color: var(--neonPink);
    font-size: 3vh;
}
.member-picture{
    position: absolute;
    width: 13vh;
    height: 15vh;
    z-index: 1;
    place-self: center;
    top: 1.4vh;
    display: block;
}
.name-svg{
    position: absolute;
}
#showcase-container{
    position: absolute;
    width: 53vw;
    height: 31.8vw;
    top: 25vh;
    background-color: rgb(36, 44, 106);
    z-index: 100;
    display: flex;
    animation-name: showcase;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
#showcase-img{
    height: 22vw;
    position: absolute;
    top: 10%;
    left: 2%;
    z-index: 102;
}
#showcase-name-svg{
    width: 45%;
    position: absolute;
    top: 10%;
    left: 25.5vw;
}
#showcase-description-svg{
    width: 45%;
    position: absolute;
    top: 28%;
    left: 25.5vw;
}
#showcase-member-picture{
    position: absolute;
    top: 12%;
    left: 3.5%;
    width: 17.8vw;
    height: 17vw;
    display: block;
    z-index: 101;
}
#showcase-departament{
    position: absolute;
    top: 73%;
    left: 3.5%;
    font-size: 2vh;
    color: var(--neonPink);
}
#showcase-name{
    position: absolute;
    left: 32.2vw;
    top: 13.6%;
    font-size: 1vw;
}
#showcase-description{
    position: absolute;
    top: 30.3%;
    left: 28.5vw;
    font-size: 1.3vw;
    width: 39%;
    display: block;
}
.selected-departament{
    position: relative;
    top: 8px;
    left: 12px;
    box-shadow: 0px 0px 0px black;
    animation: curent-departament;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    animation-timing-function:ease-in;
    z-index: 11;
}

.deselected-departament{
    position: relative;
    animation: last-departament;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    animation-timing-function:ease-in;
    box-shadow: 8px 12px 4px black;
    top: 0;
    left: 0;
}

@keyframes curent-departament{
    0%{
        box-shadow: 8px 12px 4px black;
        top: 0;
        left: 0;
    }
    100%{
        top: 8px;
        left: 12px;
        box-shadow: 0px 0px 0px black;
    }
}

@keyframes last-departament{
    0%{
        top: 8px;
        left: 12px;
        box-shadow: 0px 0px 0px black;
    }
    100%{
        box-shadow: 8px 12px 4px black;
        top: 0;
        left: 0;
    }
}

@keyframes move-card {
    0% {
      top: 20vh;
      opacity: 0;
    }
    100% {
      top: 0vh;
      opacity: 1;
    }
  }

@keyframes showcase{
    from{
        width: 0;
        height: 0;
    }
    to{
        width: 53vw;
        height: 31.8vw;
    }
}

@keyframes showcase2{
    from{
        width: 0;
        height: 0;
    }
    to{
        width: 80vw;
        height: 45vw;
    }
}

@media only screen and (max-width: 1024px){
    .departament-name{
        font-size: 1.6vw;
    }
    #showcase-container{
        width: 80vw;
        height: 45vw;
        animation-name: showcase2;
    }
    #showcase-member-picture{
        left: 3%;
        top: 11%;
    }
    #showcase-departament {
        top: 54%;
        font-size: 2vw;
    }
    #showcase-name {
        left: 35.6vw;
        top: 13%;
        font-size: 2vw;
    }
    #showcase-description {
        left: 29.5vw;
    }
}
@media only screen and (max-width: 425px){
    .frame-svg {
        height: 23vw;
        width: 23vw;
    }
    .card{
        height: 20vw;
    }
    .member-picture{
        width: 19vw;
        height: 18vw;
        top: 0.1vw;
    }
    .name-container{
        width: 23vw;
        top: 19vw;
    }
    .member-name{
        top: 8.4vw;
        font-size: 5vw;
        position: absolute;
        top: 2.7vw;
    }
    .departament{
        width: 15vw;
        height: 15vw;
    }
    #departaments-container{
        height: 20vw;
    }
    #colored-squares{
        width: 60vw;
        left: 45px;
    }
    #ABOUT-US{
        width: 40vw;
        left: 45px;
    }
    #extropy-guy{
        width: 40px;
        height: 40px;
    }
}