/* link for Google Fonts - we are using Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* start of LAYOUT RESET */
html {
  box-sizing: border-box;
}

/* same as html selector, to define variables and to separate it from the rest */
:root{
  --white: #fdfdfe;
  --lightPurple: #d8c2fe;
  --purple: #6a13fb;
  --lightPink: #f27dce;
  --neonPink: #fa099a;
  --pastelTurcuaz: #a8eaeb;
  --lightTurcuaz: #02fcf9;
  --turcuaz: #0bdcdb;
  --darkBlue: #1b1464;
  --black: #010132;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* this applies to the whole page */
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--purple);
  color: var(--lightPink);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end of LAYOUT RESET */

/*use it to secify the width and to display flex*/
.container {
  display: flex;
  width: 1050px;
  gap: 16px; /* the space between tools-menu and drawing-board */
  padding: 10px;
}

/* for tools-menu and drawing-board */
section {
  background-color: var(--white); 
  border-radius: 7px;
}

/* setting width for tools-menu */
.tools-menu {
  width: 210px;
  padding: 15px 22px;
}

/* adding margin-bottom to every row inside tools-menu*/
.tools-menu .row {
  margin-bottom: 20px;
}

/* each ul has class options, we have ul for all divs with class row, besides the Buttons one */
.row .options {
  list-style: none; /* to get rid of the list bullets (by default they are displayed like this) */
  margin: 10px 0 0 5px; /* adding margin top and left */
}

/* style for every option (<li>) */
.row .options .option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

/* style for the image inside the active or hovered option) */
.option:is(:hover, .active) img {
  /* we can't use property color to modify images, we have to use filter to recolor a image */
  filter: invert(50%) sepia(52%) saturate(4736%) hue-rotate(164deg) brightness(99%) contrast(101%);
}

/* style for the span and label tags that are inside an option */
.option :where(span, label) {
  color: var(--darkBlue);
  padding-left: 10px;
  cursor: pointer;
}

/* style for the spans and labels inside and active or hovered option */
.option:is(:hover, .active) :where(span, label) {
  color: var(--lightPink);
}

/* select every label before #fill-color:checked and add active-color to it */
#fill-color:checked ~ label {
  color: var(--lightPink);
}

/* style for checkbox */
.option #fill-color {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: auto 2px;
}

/* style for brush/eraser size slider */
.option #slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
  cursor: pointer;
}

/* style for colors ul - to space the colors */
.colors .options {
  display: flex;
  justify-content: space-between;
}

/* individual style for color <li> - setting the size and making them circles */
.colors .option {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative; /* for positioning the border relative */
}

/* the following part is used to add each color to the colors panel */
.colors .option:nth-child(1) {
  background-color: var(--turcuaz);
}

.colors .option:nth-child(2) {
  background-color: var(--darkBlue);
}

.colors .option:nth-child(3) {
  background-color: var(--black);
}

.colors .option:nth-child(4) {
  background-color: var(--pastelTurcuaz);
}

.colors .option:nth-child(5) {
  background-color: var(--neonPink);
}

/* style for color-picker */
.option #color-picker {
  opacity: 0; /* to make the squared border invisible */
  cursor: pointer;
}

/* addind border to the selected color */
/* it will be a smaller circle, displayed inside the color, in the center */
.colors .option.selected::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: inherit;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--light-color);
}

/* common style for clear and save buttons */
.buttons button {
  all: unset; /* for reseting the default style for a button */
  cursor: pointer;
  width: 100%;
  color: var(--lightPurple);
  font-size: 0.9rem;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 13px;
  padding: 11px 0;
}

/* style for clear button */
.buttons .clear{
  color: var(--black);
  border: 1px solid var(--darkBlue);
  transition: all 0.3s ease;
}

/* this happens when clear button is hovered */
.clear:hover {
  background: var(--black);
  color: var(--white)
}

/* style for save button */
.buttons .save {
  background: var(--black);
  border: 1px solid var(--white);
}

/* style for drawing-board section */
.drawing-board {
  flex: 1; /* to expand and to use all remainining space inside .container */
  overflow: hidden;
}


.drawing-board canvas {
  width: 100%;
  height: 100%;
}

.send{
  color: var(--black);
  border: 1px solid var(--darkBlue);
  transition: all 0.3s ease;
}
.send:hover{
  background: var(--black);
  color: var(--white)
}