:root{
    --white: #fdfdfe;
    --lightPurple: #d8c2fe;
    --purple: #6a13fb;
    --lightPink: #f27dce;
    --neonPink: #fa099a;
    --pastelTurcuaz: #a8eaeb;
    --lightTurcuaz: #02fcf9;
    --turcuaz: #0bdcdb;
    --darkBlue: #1b1464;
    --black: #010132;
}
    
body, ::after, ::before, *{
    border: 0;
    padding: 0;
    margin:0;
}
#bigContainer{
    width: 100vw;
    height: 100vh;
    background-color: var(--darkBlue);
    display: flex;
    justify-content: center;
    align-content: center;
    
}
#med-container{
    width: 75%;
    height: 75%;
    border-radius: 60px;
    position: relative;
    top: 12.5%;
    background-color: var(--purple);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#elements{
    width:calc(100% - 30px);
    height:calc(100% - 58px);
    background-color: var(--darkBlue);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
#EXTROPY{
    width: 50%;
    height: 40px;
    position: relative;
    top: 30px;
}
.input{
    width: 80%;
    height: 4vh;
    border-radius: 10px;
    border: 4px solid var(--neonPink); 
    background-color: var(--darkBlue);
    color: white;
    font-size: 2.3vh;
    z-index: 999;
}
#national-numb{
    position: absolute;
    top: 13vh;
    left: 26vw;
    color: var(--white);
}
#international-numb{
    position: absolute;
    top: 13vh;
    right: 26vw;
    color: var(--white);
}
#coords{
    position: absolute;
    top: 69vh;
    left: 8vw;
    width: 250px;
}
#password{
    position: relative;
    top: 2vh;
}
#name{
    position: relative;
    top: 5vh;
}
#password0{
    position: relative;
    top: 5.8vh;
}
#password1{
    position: relative;
    top: 2.4vh;
}
.button{
    width: auto;
    height: 20px;
    border: none;
    background-color: transparent;
    color: inherit;
    color: white;
    font-size: larger;
}
#container{
    color: red;
    position: relative;
    bottom: 30px;
}
#elements-container{
    width:calc(75% + 30px);
    height:calc(60% + 58px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
#elements-container-1{
    width:100%;
    height:100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
#elements-container::after{
    content: url("../!sources/img_svg/pink_strange_thing_left.svg");
    position: absolute;
    top: 0;
    left: 0.5vh;
    z-index: 998;
    width: 14vh;
    height: 150px;
} 
#elements-container::before{
    content: url("../!sources/img_svg/white_line_log_in_left.svg");
    position: absolute;
    top: calc(27%);
    left: 1vh;
    z-index: 998;
    width: 16.5vh;
    height: 20vh;
}
#elements-container-1::after{
    content: url("../!sources/img_svg/pink_strange_thing_right.svg");
    position: absolute;
    top: 36vh;
    right: 0.5vh;
    z-index: 998;
    width: 14vh;
    height: 150px;
}
#elements-container-1::before{
    content: url("../!sources/img_svg/white_line_log_in_right.svg");
    position: absolute;
    top: 2.3vh;
    right: 1vh;
    z-index: 998;
    width: 16.5vh;
    height: 20vh;
}
.reverse{
    transform: scaleX(-1);
}
@keyframes flipA {
    from {
        transform: rotateY(0deg);
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    to {
        transform: rotateY(180deg);
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
  }
  
  .do-a-flip {
    animation: flipA 2s ease-in-out 1;
  }

@media only screen and (max-width: 768px){
    #elements-container-1::before {
        width: 10vw;
    }
    #elements-container-1::after {
        width: 14vw;
        top: 37vh;
    }
    #elements-container::before {
        width: 10vw;
        top: 28vh;
    }
    #elements-container::after {
        width: 14vw;
        bottom: 37vh;
    }
    #national-numb{
        left: 22vw;
    }
    #international-numb{
        right: 22vw;
    }
}
@media only screen and (max-width: 425px){
    #elements-container-1::before {
        width: 10vw;
    }
    #elements-container-1::after {
        width: 14vw;
        top: 43vh;
    }
    #elements-container::before {
        width: 10vw;
        top: 36vh;
    }
    #elements-container::after {
        width: 14vw;
        bottom: 37vh;
    }
    #coords{
        width: 125px;
    }
}